@theme {
  --color-0: oklch(0.979 0 0); //#F8F8F8
  --color-1: oklch(0.939 0 0); //#ECEDEC

  --color-status-window-bg: oklch(0.8975 0 0);
  
  --color-brd: oklch(0.8853 0 0); //#D9D9D9;

  --color-text-primary: oklch(0.3012 0 0); //#2E2E2E;
  --color-text-secondary: oklch(0.9911 0 0); //#FCFCFC;
  --color-text-description: oklch(0.7826 0 0); //#B8B8B8;
  --color-text-placeholder: oklch(0.8853 0 0); //#D9D9D9;

  --color-primary: oklch(0.4226 0.0911 155.04); //#185C37;
  --color-primary-hover: oklch(0.4626 0.0911 155.04); 
  --color-primary-active: oklch(0.3826 0.0911 155.04); 
}

@layer base {
  input {
    outline: none;
    min-width: none;
    width: auto;
  }

  .custom-input{
    @apply flex flex-row h-9 items-stretch w-full gap-1 outline-none rounded border-2 border-brd bg-0 px-2;

    & > input{
      @apply bg-0 grow rounded border-none min-w-0 w-full;
    }

    // &-error{
    //   border-color: var(--color-bad);
    // }

    // &:focus-within{
    //   outline: 2px solid var(--color-border-focus);
    //   border-color: var(--color-border-main);
    // }
  }

  @keyframes slideIn {
    from {
      transform: translateX(-40px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideOut {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(40px);
      opacity: 0;
    }
  }

  .animate-slide-in {
    animation: slideIn 0.3s ease-out forwards;
  }

  .animate-slide-out {
    animation: slideOut 0.3s ease-in forwards;
  }

}

@layer components {
  //
}
